.container {
  background: #f3efe8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  ul {
    padding-bottom: 1.38889vw;
  }
  li {
    font-family: Gothic Narrow, sans-serif;
    font-size: .76389vw;
    text-transform: uppercase;
    padding-bottom: .34722vw;
    letter-spacing: .15em;
    color: #5a5a5a;
    line-height: 1.4em;
  }
}

.line {
  top: 6.94444vw;
  position: absolute;
  height: .06944vw;
  background: #2b2b2b;
  opacity: .1;
  width: 100vw;
  z-index: 9;
}

.image_container {
  background: red;
  flex: 0 0 58%;
  overflow: hidden;
  position: relative;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading_text {
  position: relative;
  font-size: 2.77778vw;
  line-height: 2.77778vw;
  text-align: center;
  font-family: Sainte Colombe,serif;
  font-weight: 400;
  strong {
    font-family: Gothic Extended,sans-serif;
    font-weight: 400;
    font-size: 2.43056vw;
  }
}

.mega_menu {
  padding: 11.11111vw 4.51389vw 4.51389vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // flex: 0 0 42%;
  flex: 1;
  div:first-child {
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}

.flex {
  display: flex;
  overflow: hidden;
}

.button {
  background: #000;
  border: none;
  padding: 1.38889vw 2.43056vw;
  margin: 5.55556vw 0;
  a {
    color: white;
    text-decoration: none;
    font-family: Gothic Extended;
    font-weight: 800;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
}

.overlay {
  background: rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}