@font-face {
  font-family: Gothic Extended;
  src: url(../fonts/TitlingGothicFBExtended-Regular.woff);
}

@font-face {
  font-family: Gothic Narrow;
  src: url(../fonts/TitlingGothicFBNarrow-Regular.woff);
}

@font-face {
  font-family: Sainte Colombe;
  src: url(../fonts/SainteColombe-Regular.woff);
}